* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    background-color:#161b22;
}
label {
    color: darkcyan;
    cursor:pointer;
    padding-right: 5px;
}

div.desc{
    margin:2px 0em;
    padding: 1em 0em;
    width: 100%;
}

.desc p {
    text-align: left;
    font-size: 16px;
    color:rgb(5, 170, 170);
}

.desc p span {
    color: darkcyan;
}

button {
    color:black;
}