* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #161b22;
}
.grid {
    margin: 1vh 1vw;
    height:98vh; 
    width:98vw;
}
.col {
    margin: 1vh 1vw;
    background-color: teal;
    float: left;
    width: 22.5vw;
    height: 22.5vh;
}

.col img {
    width: 100%;
    height: 100%;

}

@media (min-width:375px) {
    .grid {
        margin: 1vh 1vw;
        height:96vh; 
        width:96vw;
    }
    .col {
        margin: 1vh 1vw;
        background-color: teal;
        float: left;
        width: 96vw;
        height: 96vh;
    }
    
}

@media (min-width: 575.98px) {
    
    .col {
        margin: 1vh 1vw;
        background-color: teal;
        float: left;
        width: 96vw;
        height: 96vh;
    
    } 
}

@media (min-width: 767.98px) {
    
    .col {
    margin: 0.25vh 0.25vw;
    background-color: teal;
    float: left;
    width: 22.5vw;
    height: 22.5vh;
    } 
}