* {
    margin: 0;
    padding: 0;
}

html {
    height: 200vh;
    font-size: 62.5%;
    background-color: burlywood;
}
.wrapper {
    height: 200vh;
    width: 100vh;
    padding:20vh 0;
}
.header {
    width: 100vw;
    height: 15vh;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.377);
    font-size: 2.3rem;
}
.topo {
    top:10px;
}
.sticky {
    position: sticky;
}

.pai {
    position:relative;
}

.filho {
    padding: 5px;
    height:30vh;
    width: 30vw;
    background-color: blueviolet;
    font-size:2rem;
}

.filho.static {
    position: static;
}

.filho.relative {
    position:relative;
    top:30px;
    left:20px;
}

.filho.absolute {
    position: absolute;
    left:38vw;
    top:20vh;
}

.nav {
    padding: 5px;
    font-size: 2rem;
    position:fixed;
    width: 30vw;
    height: 30vh;
    bottom: 40vh;
    right:1rem;
    background-color: turquoise;

}